{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Zobrazení průměrné návratnosti -->
{% if average_return is not none %}
    <h3>Average Return of Filtered Stocks: {{ average_return|floatformat:2 }}%</h3>
{% endif %}

<h2>Available Stocks</h2>

<!-- Filtr pro market cap -->
<form method="get">
    <label for="market_cap_min">Market Cap Min:</label>
    <input type="number" id="market_cap_min" name="market_cap_min" step="1">

    <label for="market_cap_max">Market Cap Max:</label>
    <input type="number" id="market_cap_max" name="market_cap_max" step="1">

    <button type="submit">Filter</button>
</form>

<!-- Tabulka s dostupnými akciemi -->
<table>
    <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Market Cap</th>
    </tr>
    {% for stock in stocks %}
    <tr>
        <td><a href="{% url 'stock_detail' stock.ticker %}">{{ stock.ticker }}</a></td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.market_cap }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
